{% load static %} 
<!DOCTYPE html> 
<html lang="en"> 

<head> 
	<meta charset="UTF-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Home_Page</title> 
	<style> 
		.gfg { 
			margin-left: 23%; 
			margin-top: 10%; 
		} 

		.btn { 
			margin-left: 45%; 
			padding: 10px 20px; 
			color: white; 
			background-color: rgba(81, 255, 0, 0.628); 
			font-size: 20px; 
			border-radius: 5px; 
			font-weight: bolder; 
			cursor: pointer; 

		} 

		.btn:hover { 
			color: rgba(26, 255, 0, 0.623); 
			background-color: white; 
			cursor: pointer; 
		} 

		strong { 
			color: rgb(168, 23, 23); 

		} 
	</style> 

</head> 

<body> 
	<div class="container"> 
		<h1 class="gfg 
		"> Welcome to <strong>Stroke Detection System</strong> Please login to continue!</h1> 
		<br> 
		<form action="login"> 
			<button class="btn" type="submit">Click here to Login</button> 
		</form> 
	</div> 



</body> 

</html>
